---
import { getCollection } from "astro:content";
import { Picture } from "astro:assets";
import Layout from "@layouts/Layout.astro";
import Container from "@components/container.astro";
import Sectionhead from "@components/sectionhead.astro";

// Filter team entries with 'draft: false' & date before current date
const publishedTeamMembers = await getCollection("team", ({ data }) => {
  return !data.draft && data.publishDate < new Date();
});
---

<Layout title="Consortium">
  <Container>
    <Sectionhead>
      <Fragment slot="title">Consortium</Fragment>
      <Fragment slot="desc"> .... </Fragment>
    </Sectionhead>

    <div class="flex flex-col gap-3 mx-auto max-w-4xl mt-16">
      <p class="text-lg leading-relaxed text-slate-500">
        ...
      </p>
    </div>
<div className="flex flex-wrap justify-center mx-auto max-w-4xl mt-12">
  {
    publishedTeamMembers.map((teamMemberEntry) => (
      <div className="group flex flex-col items-center m-4">
        <div className="w-full aspect-square">
          <Picture
            src={teamMemberEntry.data.avatar.src}
            alt={teamMemberEntry.data.avatar.alt}
            sizes="(max-width: 80px) 10vw, 40px"
            width={40}
            height={40}
            style={{ width: 'auto', height: 'auto', maxWidth: '100px', maxHeight: '100px', marginRight: '100px' }}
            className="w-full rounded-md rounded transition group-hover:-translate-y-1 group-hover:shadow-xl bg-white object-cover object-center aspect-square"
          />
        </div>

        <div className="mt-4 text-center">
          <h2 className="text-lg text-gray-800">{teamMemberEntry.data.name}</h2>
          <h3 className="text-sm text-slate-500">
            {teamMemberEntry.data.title}
          </h3>
        </div>
      </div>
    ))
  }
</div>

  </Container>
</Layout>
