---
import Container from "@components/container.astro";
import Sectionhead from "@components/sectionhead.astro";
import Layout from "@layouts/Layout.astro";
import { Icon } from "astro-icon";
---

<div class="group flex items-center justify-between gap-8 mx-auto max-w-4xl mt-2 border-amber-600">
The aim of the DeFiTrace project is to develop new algorithmic solutions for the automated analysis of illegal payment flows in ledger-crossing DeFi ecosystems. The resulting algorithmic methods and tools should enable a more efficient and effective tracking of incriminated funds through complex, ledger-crossing decentralized financial constructs, as well as support empirical enforcement of regulatory measures. The project is accompanied by addressing legal and regulatory questions in the context of current regulatory developments (MiCA and DAC8) and the establishment of inter-agency training and continuing education standards in the field of crypto assets.
</div>